<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iscogram</title>
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">

<div class="header">
  <div class="isu-title">
    <h1><a href="/">Iscogram</a></h1>
  </div>
  <div class="isu-header-menu">
    {% if me.id == 0 %}
    <div><a href="/login">ログイン</a></div>
    {% else %}
    <div><a href="/@{{me.account_name}}"><span class="isu-account-name">{{ me.account_name }}</span>さん</a></div>
    {% if me.authority == 1 %}
    <div><a href="/admin/banned">管理者用ページ</a></div>
    {% endif %}
    <div><a href="/logout">ログアウト</a></div>
    {% endif %}
  </div>
</div>

      {% block body %}{% endblock body %}
    </div>
    <script src="/js/jquery-2.2.0.js"></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/jquery.timeago.ja.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
